<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Assignment User CRUD</title>
</head>
<body>
    <div class="container-sm">
        <div class="mx-auto" style="width: 500px;">
        
            <div class="d-flex justify-content-between">
                <h1 class="mt-3">User Information</h1>
                <a class="mt-lg-4" href="/"">Home</a>
            </div>
            <div class="mt-3">
                <p>User ID: {{user.id}}</p>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p>Email Address: {{user.email}}</p>
            </div>
            <div>
                <a href="/edit/{{user.id}}">Edit</a>
                <a href="/delete/{{user.id}}">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>